include CONTRIBUTING.rst
include README.rst
include CHANGELOG.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include django_auth_adfs/templates *.html
recursive-include docs *.rst conf.py Makefile make.bat
recursive-include docs/_static *
recursive-include docs/_templates *
