name: test

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3"
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-
      - run: python -m pip install flake8
      - run: |
          flake8 .

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.7", "3.8", "3.9", "3.10" ]
        django-version: [ "2.2", "3.0", "3.1", "3.2", "4.0" ]
        drf-version: [ "3.10", "3.11", "3.12" ]
        exclude:
          # Django v4 drops Python 3.6, and 3.7 support
          - django-version: 4.0
            python-version: 3.7
          - django-version: 4.0
            python-version: 3.6
          # DRF 3.10 is incompatible with Django v4
          - django-version: 4.0
            drf-version: 3.10
          - django-version: 4.0
            drf-version: 3.10
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: snok/install-poetry@v1
        with:
          virtualenvs-in-project: true
      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v2
        with:
          path: .venv
          key: ${{ hashFiles('**/poetry.lock') }}-${{ matrix.python-version }}-1
      - run: poetry env use ${{ matrix.python-version }} && poetry install --no-root
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
      - run: |
          source .venv/bin/activate
          pip install "Django==${{ matrix.django-version }}"
          pip install "djangorestframework==${{ matrix.drf-version }}"
          pip install pyjwt==1.7.1
      - name: Run tests
        run: |
          source .venv/bin/activate
          poetry run coverage run manage.py test -v 2
          poetry run coverage report -m
